.btn {
    -fx-background-color: transparent;
    -fx-text-fill: #d0d8ff;
    -fx-font-size: 14;
}

.btn:hover {
    -fx-background-color: rgba(255,255,255,0.1);
}

.btn-primary {
    -fx-background-color: #ffffff;
    -fx-text-fill: #0b1c2d;
    -fx-font-size: 14px;
    -fx-pref-width: 250px;
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 14;
}

.btn-primary:hover {
    -fx-background-color: rgba(255,255,255,0.1);
}


.window-root {
    -fx-background-color: transparent;
}

.window {
    -fx-background-color: #0b1c2d;
    -fx-background-radius: 14;
}

.title-bar {
    -fx-background-color: #081624;
    -fx-background-radius: 14 14 0 0;
    -fx-padding: 0 10 0 10;
}

.txtLogo {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
}

.pane {
    -fx-background-color: #081624;
    -fx-background-radius: 14 14 14 14;
}

.icon-pane {
    -fx-background-color: #081624;
    -fx-background-radius: 14 14 14 14;
}

.pane-light {
    -fx-background-color: #132f4a;
}


.btn-title {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: transparent;
    -fx-cursor: hand;
}

.btn-title > .graphic {
    -fx-padding: 0;
}

.btn-title:hover {
    -fx-effect: dropshadow(gaussian, rgba(208,216,255,0.6), 6, 0, 0, 0);
}
